# Įvairių formatų duomenų failų įkėlimas, konvertavimas ir išsaugojimas

## Python

### SAS `.sas7bdat` formato failų skaitymas panaudojant _Python_ paketą `sas7bdat`

Importuojame _Python_ paketą `sas7bdat`:

In [1]:
import sas7bdat

_SAS_ `.sas7bdat` formato failą nuskaitome ir paverčiame į _Python_ [`pandas`](http://pandas.pydata.org/) [`DataFrame`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) objektą:

In [2]:
sasFilename = 'data/CAB1.sas7bdat'
with sas7bdat.SAS7BDAT(sasFilename) as f:
    pandasDf = f.to_data_frame()

In [3]:
pandasDf

     c         x          y
0    1  1.804823  -0.079915
1    1  0.396577  -1.083318
2    1  2.238294  -0.624232
3    1  0.513658  -0.086609
4    1 -0.594179   0.031891
5    1 -0.737799  -0.250139
6    1  0.685005  -0.804158
7    1 -0.744281  -0.795503
8    1  0.340711  -0.300510
9    1 -1.349847   0.432705
10   1  1.305716   1.425127
11   1 -0.415801   1.614381
12   1 -1.057726  -0.948333
13   1  0.953648   0.391979
14   1 -0.076141   1.220557
15   1 -0.630841  -0.635758
16   1 -0.340003  -0.076284
17   1  0.965358  -1.216698
18   1  1.184490  -0.343694
19   1  1.090243  -0.135313
20   1 -1.359502  -2.331338
21   1 -0.409686   0.654201
22   1  0.399257  -0.469306
23   1  0.866329  -0.923723
24   1  1.277463  -1.452603
25   1  0.348922  -0.055347
26   1 -1.227999   0.145022
27   1 -0.839501  -0.096262
28   1 -0.857583   0.764975
29   1  0.045009   1.928383
..  ..       ...        ...
150  3  3.068341   9.705380
151  3  5.828051   9.632602
152  3  2.936345   8.234908
153  3  4.557131   8.550686
154  3  3.503758   7.755109
155  3  4.107537   8.427274
156  3  4.475027   8.039227
157  3  3.926934   8.079344
158  3  3.472544   7.935878
159  3  5.925297   9.003020
160  3  3.245044   9.264734
161  3  2.922313   8.040794
162  3  4.474726   8.592912
163  3  3.888893   7.751160
164  3  3.499431   7.028060
165  3  4.902451   8.639766
166  3  4.696278   8.600141
167  3  2.973148   7.664024
168  3  4.386240   8.178177
169  3  4.084195   8.128002
170  3  3.326874   7.032970
171  3  3.662543   7.724472
172  3  4.012212   8.365216
173  3  5.430587   6.472152
174  3  3.432358  11.014929
175  3  2.679753   7.761338
176  3  4.397354   7.636179
177  3  3.543752   8.034934
178  3  3.623486   8.183932
179  3  3.041563   7.313080

[180 rows x 3 columns]

`pandas.DataFrame` objekto turinį įrašome į `.csv` formato failą.

In [4]:
csvFilename = sasFilename.replace('.sas7bdat', '.csv')
csvFilename

'data/CAB1.csv'

In [5]:
pandasDf.to_csv(csvFilename)

Išvedame `.csv` failo turinį panaudodami _linux_ komandą `cat`:

In [6]:
! cat data/CAB1.csv

,c,x,y
0,1.0,1.8048229506419473,-0.07991502090275329
1,1.0,0.39657685504793405,-1.0833176549619468
2,1.0,2.2382943650985343,-0.6242322943044329
3,1.0,0.5136577082925808,-0.08660911687902768
4,1.0,-0.5941787333790818,0.031890818063799654
5,1.0,-0.7377985721302719,-0.25013917494627913
6,1.0,0.6850047647381264,-0.8041581316224685
7,1.0,-0.7442810802984545,-0.7955028221064093
8,1.0,0.3407105493184896,-0.3005098035802357
9,1.0,-1.3498465156274604,0.4327048610453688
10,1.0,1.305716242646934,1.4251270103591331
11,1.0,-0.415801019499061,1.6143805422533701
12,1.0,-1.057726424098238,-0.9483326721764074
13,1.0,0.9536476400272708,0.39197894163906866
14,1.0,-0.07614127913511942,1.2205569287348228
15,1.0,-0.6308414189073877,-0.6357582472716945
16,1.0,-0.34000283342507026,-0.07628363677239759
17,1.0,0.9653583786044433,-1.2166983927386992
18,1.0,1.184490002218949,-0.3436939492474335
19,1.0,1.090242787223093,-0.13531306784080646
20,1.0,-1.359501932856284,-2.331337587082326
21,1.0,-0.40968631040949993,0.6542014011456639
22,1.0,0.399257098175889,-0.46930633886245665
23,1.0,0.8663289182445575,-0.9237234966837641
24,1.0,1.2774625048345505,-1.452602630134054
25,1.0,0.3489217786009371,-0.05534732126176289
26,1.0,-1.2279987979613458,0.14502200902608198
27,1.0,-0.8395007628674837,-0.09626220831893306
28,1.0,-0.8575827874050501,0.7649745830017121
29,1.0,0.045008731996498935,1.928383220102947
30,1.0,-0.34643160509333715,1.6059491195964959
31,1.0,-1.0214087568703143,-0.2746527228387703
32,1.0,0.17950280265028987,-0.8211622783507506
33,1.0,0.4741141924469747,-1.5352129224828128
34,1.0,0.7799456266791599,0.8612692222111332
35,1.0,0.3474949210667344,0.33979491738165457
36,1.0,-1.0619626178403248,-0.5374052034037823
37,1.0,0.5737402760948112,0.7194025165952412
38,1.0,1.3796575144393386,-0.9944391295559194
39,1.0,-0.8397882159641256,0.7978011520778004
40,1.0,1.3786037625681535,-0.9946695835796702
41,1.0,-0.6276085106849755,-0.12234638267002784
42,1.0,0.7362932503184302,0.8966411574840135
43,1.0,-0.40873936648647063,-0.11147027134028516
44,1.0,1.041244783040574,-0.9989783609679661
45,1.0,-0.052306206920787336,1.4995985111941128
46,1.0,-0.6197014623285967,-1.3122005209544743
47,1.0,-0.4520491892691858,-0.9529840630973088
48,1.0,-2.484927444638573,-0.8265549456600964
49,1.0,-0.17600302891369374,1.2984788266860081
50,1.0,0.2525898477543982,0.6990599074256625
51,1.0,-0.05148527069092918,0.1952199244268394
52,1.0,-1.5117785519070808,-0.3650434258601983
53,1.0,0.32320622748077665,-0.9692146576202678
54,1.0,-1.7174748089495508,0.11432421049113059
55,1.0,0.994262995329032,0.8300953287489883
56,1.0,0.8337445492022227,-0.28257136224672513
57,1.0,1.2375162953149375,1.1144650260940485
58,1.0,-0.9151566621094741,-0.3350095148025325
59,1.0,-1.6252513079311424,-0.8050922888979747
60,2.0,8.77117938490041,0.26963090862588485
61,2.0,8.477535440666166,-0.7156321089004164
62,2.0,6.8390833268746265,-0.23556165237292542
63,2.0,7.843597466352737,0.027977004854244973
64,2.0,6.943590716492299,0.7282929716254922
65,2.0,8.327110276144207,0.3527267181967888
66,2.0,8.123519939159976,-0.5886298246616184
67,2.0,8.353011863330591,1.1106755816289382
68,2.0,9.157190420360653,-0.9394945806562497
69,2.0,7.07950582441678,1.3752189606314391
70,2.0,7.230885102041306,0.3052369050836137
71,2.0,8.251341612844527,-0.08036873485221664
72,2.0,7.748528835528485,-2.236053406988492
73,2.0,9.740151270703311,0.7703542774031303
74,2.0,8.08553877976148,1.6595860529710798
75,2.0,7.4452453102188,0.3412945583794203
76,2.0,9.556202187592405,-0.208671190382685
77,2.0,8.009009601800798,1.6194167745187493
78,2.0,7.267002498801442,-0.311961333676985
79,2.0,8.228538118831626,-0.41309146576802236
80,2.0,7.747647600412615,-0.09882043037739613
81,2.0,8.439806312258396,0.14633004959800044
82,2.0,8.483379000150654,-0.5152222059371192
83,2.0,8.408774460408603,-1.6763550909140217
84,2.0,7.782746686996818,0.5914129020026195
85,2.0,8.749309577583894,-0.3090855723082963
86,2.0,8.135317520464104,1.4197987009639859
87,2.0,9.313154335469754,-1.682273213395627
88,2.0,7.701325490002836,0.12008873488167271
89,2.0,7.680727420918149,-0.6589327429453704
90,2.0,8.20883852857128,-0.9786832953857302
91,2.0,7.8677972306189075,3.2444009124896214
92,2.0,6.813089392430121,0.12989474450547422
93,2.0,9.255204468939647,-0.22289457407196658
94,2.0,8.10970436067399,-1.2182890506030806
95,2.0,8.881967669637948,0.22760760634467492
96,2.0,7.774452321446848,2.102180397296799
97,2.0,8.098648798632391,-0.6046667864442006
98,2.0,9.038734205646541,1.203078906280366
99,2.0,9.754990223877915,1.6785938745346403
100,2.0,6.089771993506552,-2.783195225400488
101,2.0,8.38155087230137,-2.2103815529314246
102,2.0,8.90926116519618,2.0450756891590647
103,2.0,8.201527871606128,0.397931399206435
104,2.0,7.277856364140053,-0.28398816631252544
105,2.0,6.244910552953375,0.8735928291747974
106,2.0,8.307195186094068,-0.05895920005981419
107,2.0,6.953882797995391,-1.154532022005487
108,2.0,7.911889166650834,1.0962709653536502
109,2.0,7.357350968669488,1.9888271089832605
110,2.0,7.091854310265283,0.47419788499939275
111,2.0,7.968585574037946,-0.24890589566933832
112,2.0,7.4078007268347115,0.21808954247838053
113,2.0,7.8109973732126114,0.33247365429043535
114,2.0,7.698760745319813,1.5626735226883115
115,2.0,8.19290431989854,-0.9602920092197902
116,2.0,7.309142979249098,-0.24046668371720747
117,2.0,6.689419754148963,-1.7119038763949044
118,2.0,7.253082469851929,1.710538617574112
119,2.0,7.130153309710952,1.1905226449789497
120,3.0,1.7003309448339596,6.798768110803229
121,3.0,2.484776504889419,7.313637906287766
122,3.0,3.6444871270771353,8.959709616960982
123,3.0,5.095348464845727,7.949862060874071
124,3.0,3.8258302076845383,7.181975491917652
125,3.0,1.8264265334330876,6.739364004585627
126,3.0,4.684136625595761,8.306402459247375
127,3.0,3.39972217268821,6.521770699821907
128,3.0,3.2331710915274847,8.447941901272971
129,3.0,4.264253793908269,5.437254941532196
130,3.0,4.793626140701928,7.602371858205171
131,3.0,3.939459416323571,7.050602944601121
132,3.0,4.662503707217861,8.089133084952373
133,3.0,4.454128747905958,8.256771107718583
134,3.0,2.05555211749535,6.874106693309752
135,3.0,5.187833722758501,7.909655796200556
136,3.0,2.629502582881419,9.416150655500367
137,3.0,4.744369235347512,7.175887890265736
138,3.0,4.29198668073107,7.695210212584311
139,3.0,3.3283670859936003,7.451840752861451
140,3.0,3.9202076103949293,8.607076078592996
141,3.0,5.086715956158335,8.32214170068701
142,3.0,3.157640037222086,8.91837658194547
143,3.0,4.857423250042348,7.116841038691952
144,3.0,4.614149286714087,6.645974554492941
145,3.0,3.5964725993548012,8.838763646786454
146,3.0,3.143978833658354,8.287160492162746
147,3.0,3.0292386651419365,7.139005261972294
148,3.0,3.9820466836880324,9.553344690121367
149,3.0,3.891678498919164,10.309754132336678
150,3.0,3.068341097062113,9.705379807076797
151,3.0,5.8280506886774095,9.632601646851274
152,3.0,2.936345101271549,8.23490783525004
153,3.0,4.557130875252462,8.550686244834552
154,3.0,3.503757850830543,7.755109180159972
155,3.0,4.107536799560873,8.427274326377011
156,3.0,4.475026770339942,8.03922744418119
157,3.0,3.926934173234619,8.079343725319308
158,3.0,3.472543852929225,7.935878253986387
159,3.0,5.925296779662469,9.00302003906
160,3.0,3.245043985792252,9.264733858968047
161,3.0,2.922313318523054,8.040794316501318
162,3.0,4.474726455482037,8.592912432562164
163,3.0,3.888893329226865,7.7511602521118235
164,3.0,3.499430968997595,7.0280599649485005
165,3.0,4.902450798926265,8.639766434601512
166,3.0,4.696278139024929,8.60014114096224
167,3.0,2.973147922316791,7.664023536075025
168,3.0,4.386239760642813,8.178177114409623
169,3.0,4.08419514834024,8.128002336801865
170,3.0,3.326874447325465,7.032969597237878
171,3.0,3.662543424297694,7.724472311617789
172,3.0,4.012212124569602,8.365215625717276
173,3.0,5.430586707977409,6.472151835543553
174,3.0,3.432358007764408,11.014928767795492
175,3.0,2.67975300845006,7.761338115509186
176,3.0,4.397353690934557,7.636178854756983
177,3.0,3.54375161727691,8.034933973331546
178,3.0,3.6234857972947982,8.183932181621879
179,3.0,3.0415630717919964,7.313080281060777

Pastebime, kad pirmasis išsaugotas stulpelis neturi pavadinimo. Jo reikšmės yra `pandas.DataFrame` indeksas. Šis indeksas buvo sukurtas duomenų įkėlimo metu ir saugojant duomenis mums nėra reikalingas. 

Parametru `index=None` nurodome, kad nenorime saugoti indekso stulpelio:

In [7]:
pandasDf.to_csv(csvFilename, index=None)

Dar kartą išvedame `.csv` failo turinį panaudodami _linux_ komandą `cat`:

In [8]:
! cat data/CAB1.csv

c,x,y
1.0,1.8048229506419473,-0.07991502090275329
1.0,0.39657685504793405,-1.0833176549619468
1.0,2.2382943650985343,-0.6242322943044329
1.0,0.5136577082925808,-0.08660911687902768
1.0,-0.5941787333790818,0.031890818063799654
1.0,-0.7377985721302719,-0.25013917494627913
1.0,0.6850047647381264,-0.8041581316224685
1.0,-0.7442810802984545,-0.7955028221064093
1.0,0.3407105493184896,-0.3005098035802357
1.0,-1.3498465156274604,0.4327048610453688
1.0,1.305716242646934,1.4251270103591331
1.0,-0.415801019499061,1.6143805422533701
1.0,-1.057726424098238,-0.9483326721764074
1.0,0.9536476400272708,0.39197894163906866
1.0,-0.07614127913511942,1.2205569287348228
1.0,-0.6308414189073877,-0.6357582472716945
1.0,-0.34000283342507026,-0.07628363677239759
1.0,0.9653583786044433,-1.2166983927386992
1.0,1.184490002218949,-0.3436939492474335
1.0,1.090242787223093,-0.13531306784080646
1.0,-1.359501932856284,-2.331337587082326
1.0,-0.40968631040949993,0.6542014011456639
1.0,0.399257098175889,-0.46930633886245665
1.0,0.8663289182445575,-0.9237234966837641
1.0,1.2774625048345505,-1.452602630134054
1.0,0.3489217786009371,-0.05534732126176289
1.0,-1.2279987979613458,0.14502200902608198
1.0,-0.8395007628674837,-0.09626220831893306
1.0,-0.8575827874050501,0.7649745830017121
1.0,0.045008731996498935,1.928383220102947
1.0,-0.34643160509333715,1.6059491195964959
1.0,-1.0214087568703143,-0.2746527228387703
1.0,0.17950280265028987,-0.8211622783507506
1.0,0.4741141924469747,-1.5352129224828128
1.0,0.7799456266791599,0.8612692222111332
1.0,0.3474949210667344,0.33979491738165457
1.0,-1.0619626178403248,-0.5374052034037823
1.0,0.5737402760948112,0.7194025165952412
1.0,1.3796575144393386,-0.9944391295559194
1.0,-0.8397882159641256,0.7978011520778004
1.0,1.3786037625681535,-0.9946695835796702
1.0,-0.6276085106849755,-0.12234638267002784
1.0,0.7362932503184302,0.8966411574840135
1.0,-0.40873936648647063,-0.11147027134028516
1.0,1.041244783040574,-0.9989783609679661
1.0,-0.052306206920787336,1.4995985111941128
1.0,-0.6197014623285967,-1.3122005209544743
1.0,-0.4520491892691858,-0.9529840630973088
1.0,-2.484927444638573,-0.8265549456600964
1.0,-0.17600302891369374,1.2984788266860081
1.0,0.2525898477543982,0.6990599074256625
1.0,-0.05148527069092918,0.1952199244268394
1.0,-1.5117785519070808,-0.3650434258601983
1.0,0.32320622748077665,-0.9692146576202678
1.0,-1.7174748089495508,0.11432421049113059
1.0,0.994262995329032,0.8300953287489883
1.0,0.8337445492022227,-0.28257136224672513
1.0,1.2375162953149375,1.1144650260940485
1.0,-0.9151566621094741,-0.3350095148025325
1.0,-1.6252513079311424,-0.8050922888979747
2.0,8.77117938490041,0.26963090862588485
2.0,8.477535440666166,-0.7156321089004164
2.0,6.8390833268746265,-0.23556165237292542
2.0,7.843597466352737,0.027977004854244973
2.0,6.943590716492299,0.7282929716254922
2.0,8.327110276144207,0.3527267181967888
2.0,8.123519939159976,-0.5886298246616184
2.0,8.353011863330591,1.1106755816289382
2.0,9.157190420360653,-0.9394945806562497
2.0,7.07950582441678,1.3752189606314391
2.0,7.230885102041306,0.3052369050836137
2.0,8.251341612844527,-0.08036873485221664
2.0,7.748528835528485,-2.236053406988492
2.0,9.740151270703311,0.7703542774031303
2.0,8.08553877976148,1.6595860529710798
2.0,7.4452453102188,0.3412945583794203
2.0,9.556202187592405,-0.208671190382685
2.0,8.009009601800798,1.6194167745187493
2.0,7.267002498801442,-0.311961333676985
2.0,8.228538118831626,-0.41309146576802236
2.0,7.747647600412615,-0.09882043037739613
2.0,8.439806312258396,0.14633004959800044
2.0,8.483379000150654,-0.5152222059371192
2.0,8.408774460408603,-1.6763550909140217
2.0,7.782746686996818,0.5914129020026195
2.0,8.749309577583894,-0.3090855723082963
2.0,8.135317520464104,1.4197987009639859
2.0,9.313154335469754,-1.682273213395627
2.0,7.701325490002836,0.12008873488167271
2.0,7.680727420918149,-0.6589327429453704
2.0,8.20883852857128,-0.9786832953857302
2.0,7.8677972306189075,3.2444009124896214
2.0,6.813089392430121,0.12989474450547422
2.0,9.255204468939647,-0.22289457407196658
2.0,8.10970436067399,-1.2182890506030806
2.0,8.881967669637948,0.22760760634467492
2.0,7.774452321446848,2.102180397296799
2.0,8.098648798632391,-0.6046667864442006
2.0,9.038734205646541,1.203078906280366
2.0,9.754990223877915,1.6785938745346403
2.0,6.089771993506552,-2.783195225400488
2.0,8.38155087230137,-2.2103815529314246
2.0,8.90926116519618,2.0450756891590647
2.0,8.201527871606128,0.397931399206435
2.0,7.277856364140053,-0.28398816631252544
2.0,6.244910552953375,0.8735928291747974
2.0,8.307195186094068,-0.05895920005981419
2.0,6.953882797995391,-1.154532022005487
2.0,7.911889166650834,1.0962709653536502
2.0,7.357350968669488,1.9888271089832605
2.0,7.091854310265283,0.47419788499939275
2.0,7.968585574037946,-0.24890589566933832
2.0,7.4078007268347115,0.21808954247838053
2.0,7.8109973732126114,0.33247365429043535
2.0,7.698760745319813,1.5626735226883115
2.0,8.19290431989854,-0.9602920092197902
2.0,7.309142979249098,-0.24046668371720747
2.0,6.689419754148963,-1.7119038763949044
2.0,7.253082469851929,1.710538617574112
2.0,7.130153309710952,1.1905226449789497
3.0,1.7003309448339596,6.798768110803229
3.0,2.484776504889419,7.313637906287766
3.0,3.6444871270771353,8.959709616960982
3.0,5.095348464845727,7.949862060874071
3.0,3.8258302076845383,7.181975491917652
3.0,1.8264265334330876,6.739364004585627
3.0,4.684136625595761,8.306402459247375
3.0,3.39972217268821,6.521770699821907
3.0,3.2331710915274847,8.447941901272971
3.0,4.264253793908269,5.437254941532196
3.0,4.793626140701928,7.602371858205171
3.0,3.939459416323571,7.050602944601121
3.0,4.662503707217861,8.089133084952373
3.0,4.454128747905958,8.256771107718583
3.0,2.05555211749535,6.874106693309752
3.0,5.187833722758501,7.909655796200556
3.0,2.629502582881419,9.416150655500367
3.0,4.744369235347512,7.175887890265736
3.0,4.29198668073107,7.695210212584311
3.0,3.3283670859936003,7.451840752861451
3.0,3.9202076103949293,8.607076078592996
3.0,5.086715956158335,8.32214170068701
3.0,3.157640037222086,8.91837658194547
3.0,4.857423250042348,7.116841038691952
3.0,4.614149286714087,6.645974554492941
3.0,3.5964725993548012,8.838763646786454
3.0,3.143978833658354,8.287160492162746
3.0,3.0292386651419365,7.139005261972294
3.0,3.9820466836880324,9.553344690121367
3.0,3.891678498919164,10.309754132336678
3.0,3.068341097062113,9.705379807076797
3.0,5.8280506886774095,9.632601646851274
3.0,2.936345101271549,8.23490783525004
3.0,4.557130875252462,8.550686244834552
3.0,3.503757850830543,7.755109180159972
3.0,4.107536799560873,8.427274326377011
3.0,4.475026770339942,8.03922744418119
3.0,3.926934173234619,8.079343725319308
3.0,3.472543852929225,7.935878253986387
3.0,5.925296779662469,9.00302003906
3.0,3.245043985792252,9.264733858968047
3.0,2.922313318523054,8.040794316501318
3.0,4.474726455482037,8.592912432562164
3.0,3.888893329226865,7.7511602521118235
3.0,3.499430968997595,7.0280599649485005
3.0,4.902450798926265,8.639766434601512
3.0,4.696278139024929,8.60014114096224
3.0,2.973147922316791,7.664023536075025
3.0,4.386239760642813,8.178177114409623
3.0,4.08419514834024,8.128002336801865
3.0,3.326874447325465,7.032969597237878
3.0,3.662543424297694,7.724472311617789
3.0,4.012212124569602,8.365215625717276
3.0,5.430586707977409,6.472151835543553
3.0,3.432358007764408,11.014928767795492
3.0,2.67975300845006,7.761338115509186
3.0,4.397353690934557,7.636178854756983
3.0,3.54375161727691,8.034933973331546
3.0,3.6234857972947982,8.183932181621879
3.0,3.0415630717919964,7.313080281060777

Dabar išsaugojome tik duomenis.

**_Pastaba_**: _Jupyter Notebook_ _Code_ rūšies ląstelėje įrašę `!` simbolį galime naudoti _linux_ komandas, pvz:

Išvesti darbinės direktorijos turinį:

In [9]:
! ls -a

.	   examples_datafiles.ipynb	 .gitignore	     README.md
..	   examples_kmeans.ipynb	 hs_err_pid5118.log
data	   examples_kmeans_tmp_ml.ipynb  .ipynb_checkpoints
derby.log  .git				 metastore_db

**_Pastaba:_** _Jupyter Notebook_ darbinė direktorija yra direktorija, kurioje patalpintas dabartinis bloknoto `.ipynb` failas:

In [10]:
! pwd

/home/vagrant/labs/p160m132-examples-spark

Sukurti naują direktoriją `nauja_direktorija` ir išvesti darbinės direktorijos turinį:

In [11]:
! mkdir nauja_direktorija
! ls

data			  examples_kmeans.ipynb		metastore_db
derby.log		  examples_kmeans_tmp_ml.ipynb	nauja_direktorija
examples_datafiles.ipynb  hs_err_pid5118.log		README.md

Ištrinti direktoriją `nauja_direktorija` ir išvesti darbinės direktorijos turinį:

In [12]:
! rm -rf nauja_direktorija
! ls

data	   examples_datafiles.ipynb  examples_kmeans_tmp_ml.ipynb  metastore_db
derby.log  examples_kmeans.ipynb     hs_err_pid5118.log		   README.md

Nadojant simbolį `|` Sukurti komandų seką, kai vienos komandos išvestis tampa kitos komandos įvestimi:

In [13]:
! ls data | grep .xls

CA10.xls
CA1.xls
CA2.xls
CA3.xls
CA4.xls
CA5.xls
CA6.xls
CA7.xls
CA8.xls
CA9.xls

### Excel _.xls_ ir _.xlsx_ formato failų skaitymas

Toliau pateikiama keletas būdų kaip įkelti _Excel_ `.xls` ir `.xlsx` formatų failus ir juos išsaugoti `.csv` formatu.

#### Python `pandas` paketas

Importuojame _Python_ paketą [`pandas`](http://pandas.pydata.org/) ir pakeičiame jo pavadinimą į `pd`:

In [14]:
import pandas as pd

In [15]:
pdDf = pd.read_excel("data/CA1.xls")
pdDf.head()

   ID         X         Y  klasteris
0   1 -0.485695  2.075174          1
1   2 -0.368247  2.037708          2
2   3 -1.409078 -1.371631          3
3   4 -1.434896 -1.959709          4
4   5  3.706690 -0.803241          5

Galime išsaugoti `df` turinį į `.csv` formato failą kaip tai darėme su įkeltu `.sas7bdat` failu:

In [16]:
pdDf.to_csv("data/CA1.csv", index=None)

Išvedame pirmas 10 failo `CA1.csv` eilučių:

In [17]:
! head data/CA1.csv

ID,X,Y,klasteris
1,-0.485694686,2.075174209,1
2,-0.3682471,2.037708135,2
3,-1.409078419,-1.371631094,3
4,-1.434896397,-1.959709476,4
5,3.706690333,-0.803240913,5
6,-0.488402521,2.076363672,1
7,-0.365141811,2.053486526,2
8,-1.403284478,-1.387871943,3
9,-1.443300554,-1.940563955,4

#### Python `xlrd` paketas

`xlrd` paketas leidžia dirbti su _Excel_ failais itin žemu abstrakcijos lygmeniu. Jeigu _Excel_ failai yra tvarkingos lentelės, prasidedančios viršutiniame kairiame _Excel_ darbo knygos kampe, jų įkėlimui patogiau naudoti kitus metodus.

Importuojame reikalingus _Python_ paketus ir sukuriame funkciją, kuri nuskaito _Excel_ failą ir jo darbinius lakštus (angl. worksheet) išsaugo `.csv` failų formatu:

In [18]:
import xlrd
import csv
import os

def write_csv_from_excel(excel_filepath):
    dir_path = os.path.dirname(excel_filepath)
    workbook = xlrd.open_workbook(excel_filepath)
    for worksheet_name in workbook.sheet_names():
        worksheet = workbook.sheet_by_name(worksheet_name)
        if not worksheet.nrows:
            continue
        csv_filename = os.path.join(dir_path, worksheet_name) + '.csv'
        with open(csv_filename, 'w') as csvfile:
            csvwriter = csv.writer(csvfile, quoting=csv.QUOTE_MINIMAL)
            for rownum in range(worksheet.nrows):
                csvwriter.writerow(worksheet.row_values(rownum))

In [19]:
write_csv_from_excel("data/CA2.xls")

In [20]:
! ls data

CA10.xls  CA2.csv  CA4.xls  CA7.xls  CAB1.csv
CA1.csv   CA2.xls  CA5.xls  CA8.xls  CAB1.sas7bdat
CA1.xls   CA3.xls  CA6.xls  CA9.xls  Untitled.ipynb

In [21]:
! ls data | grep CA2

CA2.csv
CA2.xls

In [22]:
! head data/CA2.csv

#### Python `csvkit` paketas ir _Linux_ komandinė eilutė

Jeigu sistemoje yra įdiegtas _Python_ paketas [`csvkit`](http://csvkit.readthedocs.org/en/0.9.1/), galime pasinaudoti komandine eilutės programa `in2csv`:

In [23]:
! in2csv data/CA1.xls > data/CA1_csvkit.csv

In [24]:
! head data/CA1_csvkit.csv

ID,X,Y,klasteris
1,-0.485694686,2.075174209,1
2,-0.3682471,2.037708135,2
3,-1.409078419,-1.371631094,3
4,-1.434896397,-1.959709476,4
5,3.706690333,-0.803240913,5
6,-0.488402521,2.076363672,1
7,-0.365141811,2.053486526,2
8,-1.403284478,-1.387871943,3
9,-1.443300554,-1.940563955,4

Detali programos `in2csv` naudojimo dokumentacija:

In [25]:
! in2csv -h

usage: in2csv [-h] [-d DELIMITER] [-t] [-q QUOTECHAR] [-u {0,1,2,3}] [-b]
              [-p ESCAPECHAR] [-z MAXFIELDSIZE] [-e ENCODING] [-S] [-H] [-v]
              [-l] [--zero] [-f FILETYPE] [-s SCHEMA] [-k KEY] [-y SNIFFLIMIT]
              [--sheet SHEET] [--no-inference]
              [FILE]

Convert common, but less awesome, tabular data formats to CSV.

positional arguments:
  FILE                  The CSV file to operate on. If omitted, will accept
                        input on STDIN.

optional arguments:
  -h, --help            show this help message and exit
  -d DELIMITER, --delimiter DELIMITER
                        Delimiting character of the input CSV file.
  -t, --tabs            Specifies that the input CSV file is delimited with
                        tabs. Overrides "-d".
  -q QUOTECHAR, --quotechar QUOTECHAR
                        Character used to quote strings in the input CSV file.
  -u {0,1,2,3}, --quoting {0,1,2,3}
                        Quoting style used in the input CSV file. 0 = Quote
                        Minimal, 1 = Quote All, 2 = Quote Non-numeric, 3 =
                        Quote None.
  -b, --doublequote     Whether or not double quotes are doubled in the input
                        CSV file.
  -p ESCAPECHAR, --escapechar ESCAPECHAR
                        Character used to escape the delimiter if --quoting 3
                        ("Quote None") is specified and to escape the
                        QUOTECHAR if --doublequote is not specified.
  -z MAXFIELDSIZE, --maxfieldsize MAXFIELDSIZE
                        Maximum length of a single field in the input CSV
                        file.
  -e ENCODING, --encoding ENCODING
                        Specify the encoding the input CSV file.
  -S, --skipinitialspace
                        Ignore whitespace immediately following the delimiter.
  -H, --no-header-row   Specifies that the input CSV file has no header row.
                        Will create default headers.
  -v, --verbose         Print detailed tracebacks when errors occur.
  -l, --linenumbers     Insert a column of line numbers at the front of the
                        output. Useful when piping to grep or as a simple
                        primary key.
  --zero                When interpreting or displaying column numbers, use
                        zero-based numbering instead of the default 1-based
                        numbering.
  -f FILETYPE, --format FILETYPE
                        The format of the input file. If not specified will be
                        inferred from the file type. Supported formats: csv,
                        fixed, geojson, json, ndjson, xls, xlsx.
  -s SCHEMA, --schema SCHEMA
                        Specifies a CSV-formatted schema file for converting
                        fixed-width files. See documentation for details.
  -k KEY, --key KEY     Specifies a top-level key to use look within for a
                        list of objects to be converted when processing JSON.
  -y SNIFFLIMIT, --snifflimit SNIFFLIMIT
                        Limit CSV dialect sniffing to the specified number of
                        bytes. Specify "0" to disable sniffing entirely.
  --sheet SHEET         The name of the XLSX sheet to operate on.
  --no-inference        Disable type inference when parsing the input.

Some command line flags only pertain to specific input formats.

## pySpark

Duomenys į _Apache Spark_ paprastai įkeliami iš duomenų bazių arba tekstinių failų, esančių lokalioje _Linux_ failų sistemoje arba _Hadoop_ paskirstytoje failų sistemoje (angl. Hadoop Distributed File System - [HDFS](http://hortonworks.com/hadoop/hdfs/)). Studijų modulyje **P160M132** apsiribosime darbu su tekstiniais failais. 

Toliau pateikiama keletas metodų kaip įkelti ir išsaugoti tekstinius failus su _Apache Spark_.

### Tekstiniai failai lokalioje _Linux_ failų sistemoje

#### `sc.textFile` metodas

In [26]:
csvRDD = sc.textFile("./data/CA1.csv")
print(type(csvRDD))
csvRDD.take(5)

<class 'pyspark.rdd.RDD'>

['ID,X,Y,klasteris',
 '1,-0.485694686,2.075174209,1',
 '2,-0.3682471,2.037708135,2',
 '3,-1.409078419,-1.371631094,3',
 '4,-1.434896397,-1.959709476,4']

Matome, kad `sc.textFile` metodas grąžina tipo `RDD` objektą. Pažiūrime kokio tipo yra `RDD` turinys.

In [27]:
csvRDD.map(type).take(5)

[str, str, str, str, str]

Nieko nuostabaus, kad įkėlę tekstinį failą, turime [`str`](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str) (tekstinių simbolių sekos) tipo objektų rinkinį. Kadangi failą skaitome naudomi _Apache Spark_, tikėtina, kad norėsime atlikti kažką daugiau, negu išvesti pirmas **N** jo eilučių. Pastarajam veiksmui puikiai tinka _Linux_ komanda `head -n` **N**:

In [28]:
! head -n 5 data/CA1.csv

ID,X,Y,klasteris
1,-0.485694686,2.075174209,1
2,-0.3682471,2.037708135,2
3,-1.409078419,-1.371631094,3
4,-1.434896397,-1.959709476,4

Norėdami atlikti skaičiavimus, turime atitinkamus stulpelius konvertuoti į reikiamo tipo reikšmes, tačiau mūsų pirmoji eilutė yra stupelių pavadinimai. Pirmąją eilutę paimame naudodami `RDD` metodą `first`:

In [29]:
header = csvRDD.first()
header

'ID,X,Y,klasteris'

Atskiriame pirmąją eilutę nuo `RDD`. Nors skamba paprastai, tai nėra visiškai trivialus veiksmas.

In [30]:
import itertools as it

rowsRDD = csvRDD.mapPartitionsWithIndex(lambda idx, gen: it.islice(gen, 1, None) if idx == 0 else gen)

rowsRDD.take(5)

['1,-0.485694686,2.075174209,1',
 '2,-0.3682471,2.037708135,2',
 '3,-1.409078419,-1.371631094,3',
 '4,-1.434896397,-1.959709476,4',
 '5,3.706690333,-0.803240913,5']

Prieš aptardami ką tik naudotą anoniminę funkciją, panagrinėkime kokių tipų elementai pasiekiami šiai funkcijai:

In [31]:
csvRDD.mapPartitionsWithIndex(lambda elem1, elem2: (str(type(elem1)), str(type(elem2)))).take(5)

["<class 'int'>", "<class 'generator'>"]

`mapPartitionsWithIndex` metodo argumentas yra funkcija, kuriai pateikiami 2 argumentai: `RDD` particijos indeksas ir particijos [`generator`](https://docs.python.org/3/library/stdtypes.html#generator-types) tipo objektas. _Python_ generatoriai nesaugo visų savo elementų atmintyje iš karto, tačiau juos generuoja po vieną, tik tada kai jų paprašoma.

Todėl panaudojame _Python_ standartinės bibliotekos modulį `itertools`. Panaudodami [`itertools.islice`](https://docs.python.org/3/library/itertools.html?highlight=itertools%20islice#itertools.islice) klasę pirmosios particijos generatorių pakeičiame generatoriumi be pirmojo elemento.

**_Pastaba_**: Atminkime, kad _Python_ indeksai prasideda nuo 0.

Kadangi turime stulpelių pavadinimus ir duomenų eilutes atskirai, pastarąsias galime konvertuoti į skaitines reikšmes. Kad būtų aiškiau, po kiekvieno žingsnio pateiksime `RDD` elementų tipus.

In [32]:
splitRowsRDD = rowsRDD.map(lambda line: line.split(","))
splitRowsRDD.take(5)

[['1', '-0.485694686', '2.075174209', '1'],
 ['2', '-0.3682471', '2.037708135', '2'],
 ['3', '-1.409078419', '-1.371631094', '3'],
 ['4', '-1.434896397', '-1.959709476', '4'],
 ['5', '3.706690333', '-0.803240913', '5']]

`splitRowsRDD` elementų tipas:

In [33]:
splitRowsRDD.map(type).take(5)

[list, list, list, list, list]

`splitRowsRDD` elementų tipas yra _Python_ `list` (sąrašas). Kokie yra šių sąrašų tipai?

In [34]:
splitRowsRDD.map(lambda list_: list(map(type, list_))).take(5)

[[str, str, str, str],
 [str, str, str, str],
 [str, str, str, str],
 [str, str, str, str],
 [str, str, str, str]]

Matome, kad `splitRowsRDD` sudaro sąrašai su `str` tipo elementais.

Prieš atliekant skaičiavimus `str` tipo elementus reikia pavesti skaitinių tipų kintamaisiais:

In [35]:
typedRowsRDD = splitRowsRDD.map(lambda vals: [int(vals[0]), float(vals[1]), float(vals[2]), int(vals[3])])
typedRowsRDD.take(5)

[[1, -0.485694686, 2.075174209, 1],
 [2, -0.3682471, 2.037708135, 2],
 [3, -1.409078419, -1.371631094, 3],
 [4, -1.434896397, -1.959709476, 4],
 [5, 3.706690333, -0.803240913, 5]]

Ar pavyko?

In [36]:
typedRowsRDD.map(lambda list_: [type(element) for element in list_]).take(5)

[[int, float, float, int],
 [int, float, float, int],
 [int, float, float, int],
 [int, float, float, int],
 [int, float, float, int]]

Panašu, kad payko.

_Apache Spark_ turi ir aukštesnio lygio abstrakciją - [`DataFrame`](http://spark.apache.org/docs/latest/sql-programming-guide.html#dataframes). Prieš turimą `RDD` paverčiant į `DataFrame` tipo objektą, `RDD` sąrašus pakeisime _pySpark_ `Row` tipo objektais.

Eilutę su stulpelių pavadinimais atskyrėme anksčiau. Eilutė:

In [37]:
header

'ID,X,Y,klasteris'

Stulpelių pavadnimų sąrašas:

In [38]:
headerColumns = header.split(",")
headerColumns

['ID', 'X', 'Y', 'klasteris']

Pagal turimus stulpelius sukuriame savo duomenims pritaikytą `Row`.

In [39]:
import pyspark.sql

In [40]:
ca1Row = pyspark.sql.Row("ID", "X", "Y", "klasteris")
ca1Row

arba

In [41]:
ca1Row = pyspark.sql.Row(headerColumns[0], headerColumns[1], headerColumns[2], headerColumns[3])
ca1Row

arba

In [42]:
ca1Row = pyspark.sql.Row(*headerColumns)
ca1Row

Sudarome `RDD` su `Row` tipo objektais:

In [43]:
ca1RowsRDD = typedRowsRDD.map(lambda values: ca1Row(values[0], values[1], values[2], values[3]))
ca1RowsRDD.take(5)

[Row(ID=1, X=-0.485694686, Y=2.075174209, klasteris=1),
 Row(ID=2, X=-0.3682471, Y=2.037708135, klasteris=2),
 Row(ID=3, X=-1.409078419, Y=-1.371631094, klasteris=3),
 Row(ID=4, X=-1.434896397, Y=-1.959709476, klasteris=4),
 Row(ID=5, X=3.706690333, Y=-0.803240913, klasteris=5)]

arba

In [44]:
ca1RowsRDD = typedRowsRDD.map(lambda values: ca1Row(*values))
ca1RowsRDD.take(5)

[Row(ID=1, X=-0.485694686, Y=2.075174209, klasteris=1),
 Row(ID=2, X=-0.3682471, Y=2.037708135, klasteris=2),
 Row(ID=3, X=-1.409078419, Y=-1.371631094, klasteris=3),
 Row(ID=4, X=-1.434896397, Y=-1.959709476, klasteris=4),
 Row(ID=5, X=3.706690333, Y=-0.803240913, klasteris=5)]

Ar tikrai pavyko?

In [45]:
ca1RowsRDD.map(type).take(5)

[pyspark.sql.types.Row,
 pyspark.sql.types.Row,
 pyspark.sql.types.Row,
 pyspark.sql.types.Row,
 pyspark.sql.types.Row]

Dabar galima `RDD` paversti į `DataFrame`:

In [46]:
ca1DF = ca1RowsRDD.toDF()
ca1DF

DataFrame[ID: bigint, X: double, Y: double, klasteris: bigint]

In [47]:
ca1DF.show(5)

+---+------------+------------+---------+
| ID|           X|           Y|klasteris|
+---+------------+------------+---------+
|  1|-0.485694686| 2.075174209|        1|
|  2|  -0.3682471| 2.037708135|        2|
|  3|-1.409078419|-1.371631094|        3|
|  4|-1.434896397|-1.959709476|        4|
|  5| 3.706690333|-0.803240913|        5|
+---+------------+------------+---------+
only showing top 5 rows

Puiku! `DataFrame` objektai bus naudojami su _Apache Spark_ _Machine Learning_ metodais.

Reikėjo atlikti nemažai darbo, kol iš tekstinio failo gavome `DataFrame` objektą. Galbūt šį procesą galime automatizuoti? Atliktus veiksmus sudedame į _Python_ funkciją:

In [48]:
from pyspark.sql import Row
from itertools import islice

def parseCsvToDf(csvFilePath):
    rawRdd = sc.textFile(csvFilePath)
    header = rawRdd.first().split(",")
    DataRow = Row(*[h.lower() for h in header])
    rowsRdd = (
        rawRdd
        .mapPartitionsWithIndex(lambda idx, gen: islice(gen, 1, None) if idx == 0 else gen)
        .map(lambda line: DataRow(*map(float, line.split(","))))
    )
    rowDf = rowsRdd.toDF()
    return rowDf

Pasinaudojame ką tik aprašyta funkcija:

In [49]:
ca1ParsedDF = parseCsvToDf("data/CA1.csv")
ca1ParsedDF

DataFrame[id: double, x: double, y: double, klasteris: double]

Aprašydami funkciją padarėme prielaidą, kad visos `.csv` failo duomenų eilučių reikšmės yra skaitinės. Ar veiks ši funkcija, jeigu bent vienas stulpelis turės tekstines reikšmes? Pamėgikime. Įrašome testinį failą ir jį nuskaitome:

In [50]:
test_filename = "data/csv_file_with_strings.csv"
with open(test_filename, "w") as f:
    f.writelines(["stulpelis_a,stulpelis_b\n", "simbolinė_reikšmė_1,10\n", "simbolinė_reikšmė_2,20\n"])

Patikrininame įrašyto failo turinį:

In [51]:
! cat data/csv_file_with_strings.csv

stulpelis_a,stulpelis_b
simbolinė_reikšmė_1,10
simbolinė_reikšmė_2,20

Bandome įkelti failą naudodami savo aprašytą funkciją (įvyks klaida):

In [52]:
testDF = parseCsvToDf(test_filename)

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 18.0 failed 1 times, most recent failure: Lost task 0.0 in stage 18.0 (TID 18, localhost): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/srv/spark/python/lib/pyspark.zip/pyspark/worker.py", line 111, in main
    process()
  File "/srv/spark/python/lib/pyspark.zip/pyspark/worker.py", line 106, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/srv/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 263, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/srv/spark/python/pyspark/rdd.py", line 1295, in takeUpToNumLeft
    yield next(iterator)
  File "<ipython-input-48-2d1c5b82f951>", line 11, in <lambda>
ValueError: could not convert string to float: 'simbolinė_reikšmė_1'

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:166)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:207)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:125)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:70)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:297)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:264)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:66)
	at org.apache.spark.scheduler.Task.run(Task.scala:88)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:214)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1145)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:615)
	at java.lang.Thread.run(Thread.java:745)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1283)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1271)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1270)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:47)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1270)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:697)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:697)
	at scala.Option.foreach(Option.scala:236)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:697)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1496)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1458)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1447)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:567)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1822)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1835)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1848)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:393)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at sun.reflect.GeneratedMethodAccessor79.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:606)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:231)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:379)
	at py4j.Gateway.invoke(Gateway.java:259)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:133)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:207)
	at java.lang.Thread.run(Thread.java:745)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/srv/spark/python/lib/pyspark.zip/pyspark/worker.py", line 111, in main
    process()
  File "/srv/spark/python/lib/pyspark.zip/pyspark/worker.py", line 106, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/srv/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 263, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/srv/spark/python/pyspark/rdd.py", line 1295, in takeUpToNumLeft
    yield next(iterator)
  File "<ipython-input-48-2d1c5b82f951>", line 11, in <lambda>
ValueError: could not convert string to float: 'simbolinė_reikšmė_1'

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:166)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:207)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:125)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:70)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:297)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:264)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:66)
	at org.apache.spark.scheduler.Task.run(Task.scala:88)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:214)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1145)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:615)
	... 1 more

Klaidos pranešime matome eilutę:

`ValueError: could not convert string to float: 'simbolinė_reikšmė_1'`

Ši klaida reikškia, kad simbolių eilutės tipo (angl. string) reikšmės  `simbolinė_reikšmė_1` nepavyko paveiksti į skaitinio tipo `float` reikšmę.

Norėdami aprašyti funkciją, kuri patikrintų galimus variantus ir stulpeliams parinktų teisingus tipus, turėtume daryti panašiai kaip daroma [čia](https://github.com/seahboonsiew/pyspark-csv/blob/master/pyspark_csv.py). Tada turėtume universalią funkciją tekstinio `RDD` pavertinmui į `DataFrame`. Tačiau atminkime, kad _Python_ yra interpretuojama programavimo kalba, todėl gerokai lėtesnė už kompiliuojamą [_Scala_](http://www.scala-lang.org/) programavimo kalbą, kuria ir parašytas _Apache Spark_. Žemiau pateiktas šių kalbų spartos palyginimas darbui su _Apache Spark_ paimtas iš [šio šaltinio](https://databricks.com/blog/2015/04/24/recent-performance-improvements-in-apache-spark-sql-python-dataframes-and-more.html).

<img src="https://databricks.com/wp-content/uploads/2015/02/Screen-Shot-2015-02-16-at-9.46.39-AM.png">

Matome, kad naudojant `DataFrame` objektų metodus skirtumo tarp kalbų nėra, tačiau jis labai ryškus `RDD` objektų metodams. Žemiau pateikiame _Scala_ kalba parašytą _Apache Spark_ paketą, kurį galima naudoti iš _Python_ kalbos _Apache Spark_ sąsajos.

#### [spark-csv](https://github.com/databricks/spark-csv) paketas iš http://spark-packages.org/

##### `.csv` failo įkėlimas

In [53]:
ca1EasyDF = sqlContext.read.format("com.databricks.spark.csv").options(header=True, inferSchema=True).load("data/CA1.csv")
ca1EasyDF

DataFrame[ID: int, X: double, Y: double, klasteris: int]

In [54]:
ca1EasyDF.show(5)

+---+------------+------------+---------+
| ID|           X|           Y|klasteris|
+---+------------+------------+---------+
|  1|-0.485694686| 2.075174209|        1|
|  2|  -0.3682471| 2.037708135|        2|
|  3|-1.409078419|-1.371631094|        3|
|  4|-1.434896397|-1.959709476|        4|
|  5| 3.706690333|-0.803240913|        5|
+---+------------+------------+---------+
only showing top 5 rows

arba

In [55]:
ca1EasyDF = sqlContext.read.load("data/CA1.csv", format="com.databricks.spark.csv", header=True, inferSchema=True)
ca1EasyDF

DataFrame[ID: int, X: double, Y: double, klasteris: int]

In [56]:
ca1EasyDF.show(5)

+---+------------+------------+---------+
| ID|           X|           Y|klasteris|
+---+------------+------------+---------+
|  1|-0.485694686| 2.075174209|        1|
|  2|  -0.3682471| 2.037708135|        2|
|  3|-1.409078419|-1.371631094|        3|
|  4|-1.434896397|-1.959709476|        4|
|  5| 3.706690333|-0.803240913|        5|
+---+------------+------------+---------+
only showing top 5 rows

Gavome ir stulpelių pavadinimus, ir jų tipus. Patikriname su testiniu failu:

In [57]:
testEasyDF = sqlContext.read.load(
    "data/csv_file_with_strings.csv", 
    format="com.databricks.spark.csv", 
    header=True, inferSchema=True)
testEasyDF

DataFrame[stulpelis_a: string, stulpelis_b: int]

In [58]:
testEasyDF.show()

+-------------------+-----------+
|        stulpelis_a|stulpelis_b|
+-------------------+-----------+
|simbolinė_reikšmė_1|         10|
|simbolinė_reikšmė_2|         20|
+-------------------+-----------+

Puiku!

Tikrai rekomenduotina `.csv` failų įkėlimui naudoti pastarąjį metodą :) Parinkčių paaiškinimai pateikti [čia](https://github.com/databricks/spark-csv#features).

##### `DataFrame` išsaugojimas `.csv` formatu

In [59]:
testEasyDF.write.format("com.databricks.spark.csv").save("data/csv_test_write")

**_Pastaba:_** _Apache Spark_ duomenis saugoja į direktoriją atskirais failais. Jeigu duomenų išsaugojimas atliktas sėktingai, direktorijoje sukuriamas tuščias failas `_SUCCESS`. Saugojimas negalimas, jeigu egzistuoja direktorija tokiu pačiu pavadinimu ir įvyks klaida 

`java.lang.RuntimeException: path data/csv_test_write already exists.`

Išsaugoti galima tik duomenų eilutes (be stulpelių pavadinimų eilutės).

In [60]:
# java.lang.RuntimeException: path data/csv_test_write already exists.
testEasyDF.write.format("com.databricks.spark.csv").save("data/csv_test_write")

Py4JJavaError: An error occurred while calling o233.save.
: java.lang.RuntimeException: path data/csv_test_write already exists.
	at scala.sys.package$.error(package.scala:27)
	at com.databricks.spark.csv.DefaultSource.createRelation(DefaultSource.scala:157)
	at org.apache.spark.sql.execution.datasources.ResolvedDataSource$.apply(ResolvedDataSource.scala:170)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:146)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:137)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:57)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:606)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:231)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:379)
	at py4j.Gateway.invoke(Gateway.java:259)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:133)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:207)
	at java.lang.Thread.run(Thread.java:745)

Žemiau pateikiama keletas komandų rezultatų peržiūrai.

In [61]:
# išvesti direktorijos turinį
! ls data/csv_test_write/

part-00000  _SUCCESS

In [62]:
#išvesti pirmasias 2 failo eilutes
! head -n 2 data/csv_test_write/part-00000

simbolinė_reikšmė_1,10
simbolinė_reikšmė_2,20

In [63]:
#išvesti paskutinę failo eilutę
! tail -n 1 data/csv_test_write/part-00000

simbolinė_reikšmė_2,20

In [64]:
# failas _SUCCESS tikrai tuščias
! cat data/csv_test_write/_SUCCESS

In [65]:
# išvesti sujuntą visų direktorijos failų turinį
! cat data/csv_test_write/*

simbolinė_reikšmė_1,10
simbolinė_reikšmė_2,20

In [66]:
# išvesti kiekvieno direktorijos failo pirmąją eilutę
! head -n 1 data/csv_test_write/*

==> data/csv_test_write/_SUCCESS <==

==> data/csv_test_write/part-00000 <==
simbolinė_reikšmė_1,10